<div class="cards-conatiner p-3">
    <div class="w-full flex flex-col justify-center items-center gap-4">
        <div class="card p-3">
            <div class="logo-container flex flex-row justify-center items-center">
                <img width="300" class="py-5" src="/assets/logo.png" alt="">
            </div>
            <div class="mb-3 title text-lg">
                Witaj na naszej stronie mającej na celu pomóc Ci wybrać studia.
            </div>
            <div class="mt-2 content text-base">
                Dzięki potędze sztucznej inteligencji będziemy mogli podpowiedzić Ci idealny kierunek studiów.
                Nie ma znaczenia czy właśnie zdałeś maturę czy marzysz o zmianie pracy, nasza strona jest dla Ciebie.
            </div>
        </div>
        <button mat-fab color="accent" class="m-2" routerLink="/questionnaire">
            <mat-icon>arrow_forward</mat-icon>
        </button>
    </div>
</div>

