<div class="questionnaire-container">
  <div class="logo-container flex flex-row justify-center items-center">
    <img width="300" class="py-5" src="/assets/logo.png" alt="">
  </div>

    <div class="w-full h-full flex flex-col justify-center items-center" *ngIf="loading">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        <p class="text-base text-center mt-2" style="color: white;">Sztuczna inteligencja właśnie oblicza dla Ciebie najlepsze dopasowanie. Jesteś bliżej niż myślisz.</p>
    </div>
    
    <div *ngIf="!loading" class="parent">
        <ng-container *ngFor="let question of questionnaire?.questions; let i = index">
          <div class="child" *ngIf="i === currentQuestionIndex" [@slideIn]>
            <app-question
              *ngIf="i === currentQuestionIndex"
              [question]="question"
              (answered)="nextQuestion(i, $event)">
            </app-question>
          </div>
        </ng-container>
    </div>
</div>

